.product_plus {
   font-size: 6em; 
   margin-left:5px; 
   margin-right:5px;
}

.bbn_button {
   margin-left:50px;
   vertical-align:middle;
   padding-bottom: 60px;
}

.discountText {
   padding-bottom: 10px;
}

.centerBoxContentsBTXSell {
  float: left;
  vertical-align: top;
  margin: 1em 0em; 
  text-align: center;

}

